<head>
    <title>@ViewBag.CompanyInfo.Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel='icon' href='favicon.ico' type='image/x-ico' />
    <meta name="description" content="@ViewBag.CompanyInfo.Description" />
    <meta name="keywords" content="@ViewBag.CompanyInfo.Keyword" />
    <link rel="stylesheet" href="~/Content/Home/css/default.min.css" />
    <link rel="stylesheet" href="~/Content/colorbox/colorbox.css" />


    <script src="~/Content/Home/js/jquery/1.11.3/jquery.min.js"></script>
    <!--[if (gte IE 9)|!(IE)]><!-->
    @*<script type="text/javascript" src="~/Content/Home/lib/jquery/jquery.min.js"></script>*@
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
    <script src="~/Content/Home/js/modernizr/2.8.3/modernizr.js"></script>
    <script src="~/Content/Home/lib/amazeui/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/Content/Home/lib/handlebars/handlebars.min.js"></script>
    <script type="text/javascript" src="~/Content/Home/lib/iscroll/iscroll-probe.js"></script>
    <script type="text/javascript" src="~/Content/Home/lib/amazeui/amazeui.min.js"></script>
    <script type="text/javascript" src="~/Content/Home/lib/raty/jquery.raty.js"></script>
    <script type="text/javascript" src="~/Content/Home/js/main.min.js?t=1"></script>
    @*<script type="text/javascript" src="~/Content/Home/lib/jquery/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/Content/colorbox/jquery.colorbox-min.js"></script>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        .iw_poi_title {
            color: #CC5522;
            font-size: 14px;
            font-weight: bold;
            overflow: hidden;
            padding-right: 13px;
            white-space: nowrap;
        }

        .iw_poi_content {
            font: 12px arial,sans-serif;
            overflow: visible;
            padding-top: 4px;
            white-space: -moz-pre-wrap;
            word-wrap: break-word;
        }

        .cm-content img {
            width: auto;
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
    @*<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=6LLBZ-QMLCX-HNA4L-T3ADN-4O3V5-BFFLB"></script>*@
</head>