 ﻿<footer class="footer">
    <div class="cml-g">
        <h2>
            <span>@ViewBag.CompanyInfo.Copyright</span>
            <span>@ViewBag.CompanyInfo.ICP</span>
        </h2>
        <h3>
            <span>地址:@ViewBag.CompanyInfo.Address</span>
            <span>邮编:@ViewBag.CompanyInfo.PostCode</span>
            <span>电话:@ViewBag.CompanyInfo.Tel</span>
        </h3>
    </div>
</footer>