@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>主播提现记录</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/framework/css/animate.css" rel="stylesheet" />
    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/framework/js/global.js"></script>
    <script src="~/Content/dataTime/dataTime.js"></script>
</head>
<body>
    <div class="panel animated fadeIn">
        <div class="panel-body">
            <blockquote class="layui-elem-quote">
                <div class="form-inline layui-form user-search">
                    <div class="layui-inline">
                        <label class="layui-form-label">主播账号</label>
                        <div class="layui-input-block" >
                            <input type="text" name="Name" placeholder="请输入主播账号或昵称" id="Name" autocomplete="off" class="layui-input" maxlength="25">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">提现状态</label>
                        <div class="layui-input-block">
                            <select name="Status" id="Status" lay-filter="Level" lay-search>
                                <option value="-1" selected>全部</option>
                                <option value="3">待处理</option>
                                <option value="1">成功</option>
                                <option value="2">驳回</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">开始时间</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="startTimeReload" name="startTime" placeholder="">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="endTimeReload" name="endTime" placeholder="">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="search" data-type="reload">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </blockquote>
            <table id="table" lay-filter="test"></table>
        </div>
    </div>
</body>
</html>
@*工具栏模板：*@
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">提现</button>
        <button class="layui-btn layui-btn-sm" lay-event="update">处理</button>
    </div>
</script>
<script type="text/javascript">
    layui.use(['laydate', 'form', 'table'], function () {
        var form = layui.form;
        var table = layui.table;
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#startTimeReload' //指定元素
            , type: 'datetime'
            , value: getNowFormatDate("data", 0) + " 00:00:00"
        });
        laydate.render({
            elem: '#endTimeReload' //指定元素
            , type: 'datetime'
            , value: getNowFormatDate("data", 1) + " 00:00:00"
        });
        function renderTable(where) {
            table.render({
                elem: '#table'
                , method: "post"
                , url: '/System/AnchorWithdrawalRecord/GetAgentWithdrawalRecordPage' //数据接口
                , toolbar: '#toolbar'
                , page: true //开启分页
                , checkbox: true
                , where: where
                , cols: [[ //表头
                    { type: 'checkbox' }
                    , { field: 'AgentName', title: '主播账号' }
                    , { field: 'NickName', title: '主播昵称' }
                    , { field: 'WithdrawalAmount', title: '提现金额' }
                    , {
                        field: 'payType', title: '支付类型', templet: function (d) {
                            if (d.payType == 0) {
                                return "手动扣款"
                            }
                            else if (d.payType == 1) {
                                return "银行卡"
                            } else if (d.payType == 2) {
                                return "支付宝"
                            } else {
                                return "微信"
                            }
                        }
                    }
                    , {
                        field: 'Type', title: '提现类型', templet: function (d) {
                            if (d.Type == 1) {
                                return "提现";
                            }
                            else {
                                return "手动扣款";
                            }
                        }
                    }
                    , { field: 'bankano', title: '支付账号' }
                    , { field: 'CategoryCode', title: '支付名称' }
                    , { field: 'address', title: '开户地址' }
                    , { field: 'bankaccount', title: '开户人' }
                    , { field: 'Remark', title: '提现备注' }
                    , { field: 'Feedback', title: '反馈信息' }
                    , {
                        field: 'Status', title: '提现状态', templet: function (d) {
                            if (d.Status == 3) {
                                return '<span class="layui-badge layui-bg-green">待处理</span>'
                            }
                            else if (d.Status == 1) {
                                return '<span class="layui-badge layui-bg-blue">成功</span>';
                            } else {
                                return '<span class="layui-badge">驳回</span>';
                            }
                        }
                    }
                    , {
                        field: 'ImgUrl', title: '支付二维码', width: 120, templet: function (d) {
                            if (d.payType == 3 || d.payType == 2) {
                                return '<div onclick="show_img(this)"><img src="' + d.ImgUrl + '"/></div>'
                            } else {
                                return "";
                            }
                        }
                    }
                    , { field: 'createTime', title: '创建时间' }
                    , { field: 'ModifiedTime', title: '处理时间' }
                    , { field: 'ModifiedBy', title: '处理人' }
                ]]
                , request: {
                    pageName: 'parm.page' //页码的参数名称，默认：page
                    , limitName: 'parm.limit' //每页数据量的参数名，默认：limit
                }
                , limit: 10
                , id: "report"
            });
        }
        //监听搜索
        form.on('submit(search)', function (data) {
            reloadTable(data.field)
        });

        function reloadTable(field) {
            //执行重载
            table.reload('report', {
                page: {
                    curr: 1
                },
                where: {
                    "parm.where": JSON.stringify(field)
                }
            });
        }
        renderTable(getWhere(1));
        function getWhere(flag) {
            var Name = $("#Name").val()
            var startTime = $("#startTimeReload").val();
            var endTime = $("#endTimeReload").val();
            var Status = $("#Status").val();
            if (flag==1) {
                return { "parm.where": JSON.stringify({ Name: Name, startTime: startTime, endTime: endTime, Status: Status }) };
            }
            return { Name: Name, startTime: startTime, endTime: endTime, Status: Status };
        }
        //监听事件
        table.on('toolbar(test)', function (obj) {
            switch (obj.event) {
                case 'add':
                    btn_add();
                    break;
                case 'update':
                    btn_edit()
                    break;
            };
        });
        //监听下拉框的搜索
        form.on('select(Level)', function (data) {
            reloadTable(getWhere(2));
        });
        function btn_add() {
            $.layerOpen({
                id: "add",
                title: "提现申请",
                width: "700px",
                height: "400px",
                content: "/System/AnchorWithdrawalRecord/Form",
                yes: function (iBody) {
                    iBody.find('#btnSubmit').click();
                    reloadTable(getWhere(2));
                    //window.location.href = "/System/Shop/Index";
                }
            });
        }

        function btn_edit() {
            var ids = table.checkStatus('report').data;
            if (ids.length != 1) {
                $.layerMsg("请勾选单条记录编辑。", "warning");
                return;
            }
            if (ids[0].Status != 3) {
                $.layerMsg("提现已处理，请选择新的提现记录。", "warning");
            }
            $.layerOpen({
                id: "edit",
                title: "处理提现",
                width: "700px",
                height: "400px",
                content: "/System/AnchorWithdrawalRecord/Handle?primaryKey=" + ids[0].id,
                yes: function (iBody) {
                    iBody.find('#btnSubmit').click();
                    //reloadTable({ Name: $("#Name").val() });
                    reloadTable(getWhere(2));
                }
            });
        }
    });
    function show_img(t) {
        var t = $(t).find("img");
        //页面层
        layer.open({
            title: "支付图片",
            type: 1,
            area: ['300px', '300px'], //宽高
            shadeClose: true, //开启遮罩关闭
            end: function (index, layero) {
                return false;
            },
            content: '<div style="text-align:center"><img src="' + $(t).attr('src') + '" height="200" width="200"/></div>'
        });
    }
</script>
