@{
    ViewBag.Title = "主播返点编辑";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .layui-form-label {
        width: 140px
    }
</style>
<form id="form" class="layui-form" style="margin-top: 25px">
    @Html.AntiForgeryToken()
    <div class="layui-form-item">
        <div class="layui-inline">
            <input type="hidden" name="id" />
            <label class="layui-form-label label-required">主播账号</label>
            <div class="layui-input-inline">
                <input type="text" name="AnchorName" lay-verify="required" placeholder="请输入主播账号" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label label-required">上级账号</label>
            <div class="layui-input-inline">
                <input type="text" name="UserAccount" lay-verify="required" placeholder="请输入上级账号" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label label-required">礼物返点</label>
            <div class="layui-input-inline">
                <input type="text" name="TipRebate" lay-verify="required" placeholder="请输入礼物返点" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" style="width:5px">%</label>
        </div>

    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label label-required">工时返点</label>
            <div class="layui-input-inline">
                <input type="text" name="HourRebate" lay-verify="required" placeholder="请输入工时返点" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" style="width:5px">%</label>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label label-required">最低直播时长(小时)</label>
            <div class="layui-input-inline">
                <input type="number" name="LiveTime" lay-verify="required" placeholder="请输入直播时长" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label label-required">工时薪资(花币)</label>
            <div class="layui-input-inline">
                <input type="text" name="Salary" lay-verify="required" placeholder="请输入薪资" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label label-required">工时核算</label>
            <div class="layui-input-inline">
                <input type="radio" name="IsWorkHours" value="1" title="开">
                <input type="radio" name="IsWorkHours" value="0" title="关" checked>
            </div>
        </div>
    </div>
    <div class="layui-form-item" style="display: none">
        <div class="layui-input-inline">
            <button id="btnSubmit" class="layui-btn" lay-submit lay-filter="add">提交</button>
        </div>
    </div>
</form>
<script>
    layui.use('form', function () {
        var form = layui.form;
        var primaryKey = $.getQueryString("primaryKey");
        if (primaryKey) {
            $.ajax({
                url: "/System/AnchorRebate/GetForm",
                data: { primaryKey: primaryKey },
                type: "post",
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form").formSerialize(data);
                    $("input[name='AnchorName']").prop("disabled", true).addClass('layui-disabled');
                    $("input[name='UserAccount']").prop("disabled", true).addClass('layui-disabled');
                }
            });
        }
        form.render();
        form.on('submit(add)', function (data) {
            if (data.field.TipRebate > 100 || data.field.HourRebate > 100) {
                $.layerMsg("返点不能大于100%", "warning", 2);
                return false;
            }
            if (data.field.TipRebate < 0 || data.field.HourRebate < 0) {
                $.layerMsg("返点不能小于0", "warning", 2);
                return false;
            }
            $.formSubmit({
                url: "/System/AnchorRebate/Form",
                data: data.field,
            });
            return false;
        });
    });

</script>
