@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<style>
    .layui-form-selectup dl {
        top: 42px;
        bottom: unset;
    }
</style>
<form id="form" class="layui-form" style="margin-top: 25px">
    @Html.AntiForgeryToken()
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label label-required">账号</label>
            <div class="layui-input-inline">
                <input type="hidden" name="Id" />
                <input type="text" name="Account" id="Account" lay-verify="required" placeholder="请输入账号" autocomplete="new-text" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label ">初始密码</label>
            <div class="layui-input-inline">
                <input type="password" name="Password" id="Password" placeholder="请输入密码" autocomplete="new-password" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label label-required">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="RealName" lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label label-required">启用</label>
            <div class="layui-input-inline">
                <input type="radio" name="IsEnabled" value="1" title="是" checked />
                <input type="radio" name="IsEnabled" value="0" title="否" />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label label-required">角色属性</label>
            <div class="layui-input-inline">
                @*<select lay-ignore name="RoleId" id="RoleId" multiple="multiple" style="width: 514px;" lay-verify="required"></select>*@
                <select name="RoleId" id="RoleId" lay-filter="Level2" lay-verify="required" lay-search>  </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item" style="display: none">
        <div class="layui-input-block">
            <button id="btnSubmit" class="layui-btn" lay-submit lay-filter="add">提交</button>
        </div>
    </div>
</form>

<script src="~/Content/jquery/jquery.md5.js"></script>
<script>
    layui.use(['element', 'form', 'laydate', 'layer'], function () {
        var form = layui.form;
        var element = layui.element;
        var laydate = layui.laydate;
        laydate.render({
            elem: "#StrBirthday"
        });

        //$("#DepartmentId").bindSelect({
        //    url: "/System/Organize/GetListTreeSelect"
        //});
        var primaryKey = $.getQueryString("primaryKey");
        $.ajax({
            url: "/System/Role/GetListTreeSelect",
            type: "post",
            success: function (dataTwo) {
                var $htmlTwo = "";
                $.each(eval("(" + dataTwo + ")"), function (i, v) {
                    $htmlTwo += "<option value='" + v.id + "'>" + v.text + "</option>";
                })
                $("select[name='RoleId']").append($htmlTwo);
                form.render('select');
                if (primaryKey) {
                    // $('#Account').attr('disabled', true).addClass('layui-disabled');
                    //$('#Password').attr('disabled', true).val('******').addClass('layui-disabled');
                    $.ajax({
                        url: "/System/User/GetForm",
                        data: { primaryKey: primaryKey },
                        type: "post",
                        dataType: "json",
                        async: false,
                        success: function (data) {
                            $("#form").formSerialize(data);
                            $("#RoleId").find("option[value='" + data.RoleId + "']").prop("selected", true);
                            //append后必须从新渲染
                            form.render('select');
                        }
                    });
                }
            }
        }, 'json');
        //$('#Account').blur(function () {
        //    var userName = $('#Account').val();
        //    if (userName && userName.length > 0) {
        //        $.formSubmit({
        //            url: '/System/User/CheckAccount',
        //            data: { userName: userName },
        //            close: false
        //        });
        //    }
        //    return false;
        //});



        form.render();

        form.on('submit(add)', function (form) {
            //角色信息。
            if ($("#RoleId").val() == "" || $("#RoleId").val() == null) {
                $.layerMsg("请选则角色。", "warning");
                return false
            }
            //角色信息。
            form.field.roleIds = $("#RoleId").val();
            //密码加密。
            form.field.password = $.md5(form.field['Password']);
            $.formSubmit({
                url: "/System/User/Form",
                data: form.field
            });
            return false;
        });

    });
</script>
