@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>主播银行卡</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/framework/css/animate.css" rel="stylesheet" />
    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/framework/js/global.js"></script>
</head>
<body>
    <div class="panel animated fadeIn">
        <div class="panel-body">
            <blockquote class="layui-elem-quote">
                <div class="form-inline layui-form user-search">
                    <div class="layui-inline">
                        <label class="layui-form-label">主播账号</label>
                        <div class="layui-input-block" >
                            <input type="text" name="Name" placeholder="请输入主播账号或昵称" id="Name" autocomplete="off" class="layui-input" maxlength="25">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="search" data-type="reload">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </blockquote>
            <table id="table" lay-filter="test"></table>
        </div>
    </div>
</body>
</html>
@*工具栏模板：*@
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    </div>
</script>
<script type="text/javascript">
    function show_img(t) {
        var t = $(t).find("img");
        //页面层
        layer.open({
            title: "支付图片",
            type: 1,
            area: ['300px', '300px'], //宽高
            shadeClose: true, //开启遮罩关闭
            end: function (index, layero) {
                return false;
            },
            content: '<div style="text-align:center"><img src="' + $(t).attr('src') + '" height="200" width="200"/></div>'
        });
    }
    layui.use(['form', 'table'], function () {
        var form = layui.form;
        var table = layui.table;
        function renderTable(where) {
            table.render({
                elem: '#table'
                , method: "post"
                , url: '/System/AnchorBank/GetAgentBankPage' //数据接口
                , toolbar: '#toolbar'
                , page: true //开启分页
                , checkbox: true
                , where: where
                , cols: [[ //表头
                    { type: 'checkbox' }
                    , { field: 'AgentName', title: '主播账号' }
                    , { field: 'NickName', title: '主播昵称' }
                    , {
                        field: 'payType', title: '支付类型', templet: function (d) {
                            if (d.payType == 1) {
                                return "银行卡"
                            } else if (d.payType == 2) {
                                return "支付宝"
                            } else {
                                return "微信"
                            }
                        }
                    }
                    , { field: 'bankano', title: '支付账号' }
                    , { field: 'CategoryCode', title: '支付名称' }
                    , { field: 'address', title: '开户地址' }
                    , { field: 'bankaccount', title: '开户人' }
                    , {
                        field: 'ImgUrl', title: '支付图片', templet: function (d) {
                            if (d.payType != 1) {
                                return '<div onclick="show_img(this)"><img src="' + d.ImgUrl + '"/></div>'
                            } else {
                                return "";
                            }
                        }
                    }
                    , { field: 'createtime', title: '创建时间' }
                ]]
                , request: {
                    pageName: 'parm.page' //页码的参数名称，默认：page
                    , limitName: 'parm.limit' //每页数据量的参数名，默认：limit
                }
                , limit: 10
                , id: "report"
            });
        }
        //监听搜索
        form.on('submit(search)', function (data) {
            reloadTable(data.field)
        });
        function getWhere() {
            var Name = $("#Name").val();
            return { "parm.where": JSON.stringify({ Name: Name }) };
        }
        function reloadTable(field) {
            //执行重载
            table.reload('report', {
                page: {
                    curr: 1
                },
                where: {
                    "parm.where": JSON.stringify(field)
                }
            });
        }

        renderTable(getWhere());
        //监听事件
        table.on('toolbar(test)', function (obj) {
            switch (obj.event) {
                case 'add':
                    btn_add();
                    break;
                case 'delete':
                    btn_delete();
                    break;
                case 'update':
                    btn_edit()
                    break;
            };
        });
        function btn_add() {
            $.layerOpen({
                id: "add",
                title: "新增银行卡",
                width: "700px",
                height: "400px",
                content: "/System/AnchorBank/Form",
                yes: function (iBody) {
                    iBody.find('#btnSubmit').click();
                    reloadTable({ Name: $("#Name").val() });
                    //window.location.href = "/System/Shop/Index";
                }
            });
        }

        function btn_edit() {
            var ids = table.checkStatus('report').data;
            if (ids.length != 1) {
                $.layerMsg("请勾选单条记录编辑。", "warning");
                return;
            }
            $.layerOpen({
                id: "edit",
                title: "修改银行卡",
                width: "700px",
                height: "400px",
                content: "/System/AnchorBank/Form?primaryKey=" + ids[0].id,
                yes: function (iBody) {
                    iBody.find('#btnSubmit').click();
                    reloadTable({ Name: $("#Name").val() });
                }
            });
        }

        function btn_delete() {
            var ids = table.checkStatus('report').data;
            if (ids.length < 1) {
                $.layerMsg("请勾选需要删除的银行卡。", "warning");
                return;
            }
            var result = [];
            for (var i = 0; i < ids.length; i++) {
                result.push(ids[i].id);
            }
            $.layerConfirm({
                content: "您已选中" + ids.length + "条数据, 确定删除吗？",
                callback: function () {
                    $.formSubmit({
                        url: '/System/AnchorBank/Delete',
                        data: { primaryKey: result.join() },
                        success: function () {
                            reloadTable({ Name: $("#Name").val() });
                        }
                    });
                }
            });
        }
    });
</script>
